.container {
  width: 100%;
  max-width: 890px;
  height: 617px;
  min-width: 30px;
  box-shadow: 0px 4px 20px 0px #EEEEEE80;
  padding: 24px 20px;
  border: 1px solid #F8F9FA;
  border-radius: 24px;
  background-color: #FFFFFF;
  margin-top: -20px;
}

.title{
  color: #151D48;
  font-weight: 600;
  font-size: 18px;
}

.radioDiv{
  display: flex;
  gap: 62px;
  justify-content: center;
  align-items: center;
}
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ddd;
  border: 2px solid #aaa;
}

input[type="radio"]:checked + label::before {
  background-color: #D12D34;
  border-color: #D12D34;
}

input[type="radio"]:hover + label::before {
  background-color: #D12D34;
}

@media screen and (max-width: 768px) {
  .container {
    height: 100%;
  }
  .title{
    font-size: 14px;
  }
  input[type="radio"] + label{
    font-size: 12px;
  }
  .radioDiv{
    gap: 20px;
  }
  input[type="radio"] + label::before{
    width: 15px;
    height: 15px;
  }
}